DB_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=5173
DATABASE_URL=postgres://postgres@db:${DB_PORT}/postgres
DEBUG=True
JWT_SECRET=jwt-secret # generate using `pnpm run generate-secret` and copy paste in your .env
VIERNULVIER_API_TOKEN=<token>
