DB_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=5173
DATABASE_URL=postgres://postgres@db:${DB_PORT}/postgres
DEBUG=True
JWT_SECRET=jwt-secret # generate using `pnpm run generate-secret` and copy paste in your .env

GARAGE_RPC_SECRET=rpc-secret # generate using `pnpm run generate-secret` and copy paste in your .env (but then for this variable, not jwt-secret)
GARAGE_ADMIN_TOKEN=admin-token # generate using `pnpm run generate-secret` and copy paste in your .env (but then for this variable, not jwt-secret)

VIERNULVIER_API_TOKEN=<token>
