DB_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=5173
DATABASE_URL=postgres://postgres@db:${DB_PORT}/postgres
DEBUG=True

# generate using `pnpm run generate-secret` in the backend and copy paste in your .env
# run it three times, you need 3 different keys
JWT_SECRET=jwt-secret
GARAGE_RPC_SECRET=rpc-secret
GARAGE_ADMIN_TOKEN=admin-token

# used for the scraper only
# if you don't plan on using the scraper,
# you don't have to set this
VIERNULVIER_API_TOKEN=<token>
